@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

:root {
  --bg: black;
  --primary: white;
  --accent: #01A5E9;
}

body {
  background-color: var(--bg);
  color: var(--primary);
  font-family: 'Space Grotesk', sans-serif;
}

h1 {
  color: var(--accent);
}

